@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "Bellefaire";
    src: url(/src/assets/fonts/Bellefair/Bellefair-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Barlow Condensed Regular";
    src: url(/src/assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf) format("ttf");
  }
}